name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

env:
  DOCKER_IMAGE: jagadapi240/currency-converter

jobs:
  build-test-quality-nexus-docker:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Build + SonarQube Analysis
      run: |
        mvn -B clean verify sonar:sonar \
          -Dsonar.projectKey=currency-converter \
          -Dsonar.projectName="Currency Converter" \
          -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}

    - name: Upload Artifact to Nexus
      run: |
        mvn -B deploy -DskipTests \
          -DaltDeploymentRepository=nexus::default::http://\
${{ secrets.NEXUS_USER }}:${{ secrets.NEXUS_PASS }}@${{ secrets.NEXUS_URL#http:// }}

    - name: Prepare WAR for Docker
      run: |
        mkdir -p deploy
        cp target/currency-converter.war deploy/app.war

    - name: Docker Login
      run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Build Docker Image
      run: |
        IMAGE_TAG=${{ github.run_number }}
        docker build -t $DOCKER_IMAGE:$IMAGE_TAG .

    - name: Push Docker Image to DockerHub
      run: |
        IMAGE_TAG=${{ github.run_number }}
        docker push $DOCKER_IMAGE:$IMAGE_TAG
        docker tag $DOCKER_IMAGE:$IMAGE_TAG $DOCKER_IMAGE:latest
        docker push $DOCKER_IMAGE:latest

  deploy:
    needs: build-test-quality-nexus-docker
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to EC2 via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          echo "DOCKER_IMAGE=${DOCKER_IMAGE}"

          PORT_CONTAINER=$(docker ps --filter "publish=8082" -q)
          if [ ! -z "$PORT_CONTAINER" ]; then
            docker rm -f $PORT_CONTAINER || true
          fi

          docker rm -f currency-converter-app || true

          docker pull ${DOCKER_IMAGE}:latest

          docker run -d \
            --name currency-converter-app \
            -p 8082:8080 \
            ${DOCKER_IMAGE}:latest
